.md-typeset h2 { color: #D93F0C; }
.md-typeset h2, .md-typeset h3 { font-weight: bold; }
.md-typeset__table { table-layout: fixed; min-width: 100%; }
.md-typeset table:not([class]) { display: table; }
table { background-color: rgb(251, 245, 245); }
th { display: none; }
td { background-color: rgb(251, 245, 245); }
.td-bleu { background-color:#e7f5fe; }
.code-retour { background-color:#e7f5fe; }

@media (max-width: 360px) {
/* Taille paragraphe */
p, li {font-size: 12px;}
.md-typeset h1 {font-size: 17px;}
.md-typeset h2 {font-size: 16px;}
}